*{
    margin: 0%;
    padding: 0%;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
    
}
.container{
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;

}
.calculator{
    background-color: #3a4452;
    padding: 20px;
    border-radius: 20px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 20px;
    color: white;
    cursor: pointer;
    margin: 10px;

}
.display{
    display: flex;
    justify-content: end;
    margin: 10px 0;
    box-shadow: none; 
   
}
.display input{
    text-align: right;
    flex: 1;
    font-size: 55px;
    box-shadow: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}form input.equal{
    width: 145px;
}
.operator{
    color: white;
}
h3{
    color: gainsboro;
}
.alt{
    display: flex;
    justify-content: space-between;
}
header{
    font-size: 42px;
    font-weight: bold;
    
    width:100%;
    color: white;
    background: linear-gradient(to left,white,purple);

}